---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('posts')
---

<Layout title="Welcome to Nihongo Blog.">
	<main>
			<div class=" ml-4 mx-auto max-w-screen-xl gap-2 grid grid-cols-1 md:ml-28 md:grid-cols-2 md:grid-rows-2">
		{posts.map((posts) => (
			<section class=" w-full m-auto">
				<Card 
				transition:name={`img-${posts.slug}`}
				title={posts.data.title}
				body={posts.data.description} 
				href={`/${posts.slug}`}
				img={posts.data.img} />
			</section>
			))}
			</div>
	</main>
</Layout>
